* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

.pagecontent {
    padding-top: 123px;
}

.barratopo {
    display: flex;
    flex-direction: column;
    background-color: #cf2b2b;
    color: #FFFFFF;
    align-items: flex-start;
    justify-content: center;
    height: 92px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
    position: fixed;
}

.barratopo div {
    margin-left: 21px;
}

.barratopo h1 {
    font-size: 44px;
}

.barratopo p {
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-family: 'Righteous', cursive;
}

.caixamaior {
    margin-left: 19px;
}

.caixamaior h1 {
    font-weight: 400;
    font-size: 26px;
}

.caixamenor {
    display: flex;
    width: 548px;
    justify-content: space-between;
    margin-top: 17px;
    overflow-x: scroll;
}

.caixaitem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 9px;
    padding: 16px;
    height: 216px;
    width: 172px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
}

.caixaitem p:nth-of-type(1) {
    font-size: 16px;
    font-weight: 700;
}

.caixaitem p:nth-of-type(2) {
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    line-height: 18px;
}

.caixaitem p:nth-of-type(3) {
    font-size: 16px;
    font-weight: 400;
}